* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}


/*-------------------------ELECCION----------------------*/
body {
    background-color: rgb(206, 206, 206);
}


header {
    background-color: #8ED1FC;
    padding-top: 18px;
    padding-bottom: 18px;
    box-shadow: 0 7px 8px -3px grey;
    position: fixed;
    width: 100%;
    margin-top: -10px;
    z-index: 99;
}

.container {
    max-width: 1200px;
    text-align: center;
    margin: auto;
}

.container ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.container ul li {
    padding: 30px;
    list-style-type: none;
    position: relative;
    left: 360px;
    top: 10px;
}

.container ul li a {
    text-decoration: none;
    color: #000;
}

.container ul li a:hover {
    color: rgb(10, 196, 196);
    transition: 0.5s;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor img {
    margin: 25px;
}

.contenedor ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 7%;
    margin-top: 20px;
}

.contenedor ul li {
    padding: 30px;
    list-style-type: none;
}

.contenedor ul li a {
    text-decoration: none;
    padding: 20px;
    color: #000;
}

.contenedor ul li a:hover {
    color: rgb(10, 196, 196);
    transition: 0.5s;
}


.header-section {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
}

.header-section div {
    position: relative;
}

.header-section p {
    position: absolute;
    top: -24px;
    right: -8px;
    background-color: #fff;
    padding: 1px 6px;
    border-radius: 50%;
    color: rgb(3, 148, 252);
    font-weight: 700;
    font-family: system-ui;
    line-height: 18px;
}

.logo {
    width: 164px;
    height: 84px;
    cursor: pointer;
}

.cart {
    width: 39px;
    height: 38px;
}

.cart-products {
    position: absolute !important;
    top: 82px;
    right: -18px;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;
    min-width: 290px;
}

.cart:hover {
    margin-bottom: 16px;
    transition-duration: .5s;
}

/*end header*/


.h1principal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 110px;
    padding-left: 5%;
}

.h1principal h1 {
    font-size: 40px;

}

.seltorta {
    margin-left: 5%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seltorta h2 {
    font-size: 20px;
}

.ftortas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ftortas li {
    list-style-type: none;
    margin: 20px;
    padding: 10px;
    display: none;
}

.ftortas .btn2 {
    margin-left: 10%;
    margin: 30px;
    padding: 10px;
}

.ftortas .btn1 {
    margin: 30px;
    margin-left: 10%;
    padding: 10px;
}

.inputs a {
    cursor: pointer;
    align-self: start;
}

.btn_tortas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#sigtortas {
    padding: 10px;
    margin-bottom: 20px;
}

.btn_bebidas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#sigbebidas {
    padding: 20px;
    margin-bottom: 20px;
    color: #000;
    font-weight: bolder;
    background-color: rgb(3, 148, 252);
    cursor: pointer;
}

#sigbebidas:hover {
    background-color: #fff;
    color: rgb(10, 196, 196);
    border: 2px solid rgb(10, 196, 196);
    transition: 0.5s;
}

.tituloBebidas {
    margin-left: 5%;
    margin-bottom: 10px;
}

.tituloBebidas h2 {
    font-size: 50px;
    margin: 20px;
    border: 1px solid #000;
    background-color: rgb(3, 148, 252);
    ;
    box-shadow: 10px 5px 5px;
    border-radius: 20px;
}

.tituloTortas {
    position: absolute;
    margin-top: 130px;
    margin-left: 20%;

}

.tituloTortas h1 {
    font-size: 50px;
    padding: 0px 400px;
    border: 1px solid #000;
    background-color: rgb(3, 148, 252);
    ;
    box-shadow: 10px 5px 5px;
    border-radius: 20px;
}

.carts {
    margin: 10px;
}

/*-------------------------------ingreso--------------------------------*/
.contenedor {
    width: 100%;
}

.inicio {
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_inicio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;

}

.usuario {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    box-shadow: 5px 2px 2px black;
}

.usuario #user {
    padding: 10px;
    margin: 20px;

}

.usuario #userjefe {
    padding: 10px;
    margin: 20px;

}

.usuario #enviar {
    margin: 10px;
    padding: 10px;
}

.usuario #enviarjefe {
    margin: 10px;
    padding: 10px;
}

.strong {
    color: transparent;
    font-weight: bolder;
}

.bienvenida_jefe {
    position: absolute;
    top: 45%;
}



/*-----------------------DUEÑO------------------------*/

.welcomeowner {
    margin: 10px;
    margin-bottom: 20px;
    padding-left: 20px;

}

.h2cajas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 20px;
}


.cajasdia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.lblcajas {
    padding: 20px;
}

#Consulta1 {
    margin: 20px;
    padding: 20px;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

#Consulta1:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    transition: 0.5s;
}

.h2consultacajas {
    width: 580px;
    margin: auto;
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
}

.cajamenores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#Nmenor {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

#Consulta2 {
    margin: 20px;
    padding: 20px;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

#Consulta2:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    transition: 0.5s;

}

.bodydueño {
    background-color: rgb(206, 206, 206);
}

.consultasJason {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.consultasJason .consultaJason .btnJson {
    width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

.consultasJason .consultaJason .btnJson:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    transition: 0.5s;
}


/*--------------------------------TORTAS Y BEBIDAS----------------------------*/



.products {
    padding-top: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 220px;
}

.carts {
    max-width: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding-bottom: 34px;
    margin-bottom: 40px;
}

.carts img {
    width: 100%;
}

.carts p {
    font-family: system-ui;
    font-weight: 500;
    padding: 0 20px;
    margin-bottom: 24px;
}

.carts div p {
    position: absolute;
    top: 0;
    right: 0px;
    background-color: rgb(3, 148, 252);
    color: #fff;
    padding: 2px 7px 4px 21px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.carts div {
    position: relative;
}

.carts a {
    font-family: system-ui;
    text-decoration: none;
    background: rgb(3, 148, 252);
    padding: 9px 23px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.carts a:hover {
    background: #fff;
    color: rgb(10, 196, 196);
    border: solid 2px rgb(10, 196, 196);
    transition-duration: .3s;
}

/*float cart*/
.cart-products .item img {
    width: 115px;
}

.cart-products .item {
    display: flex;
    align-items: center;
    border-bottom: solid 2px rgb(3, 148, 252);
}

.cart-products .item .item-content {
    margin: 0 19px;
    width: 201px;
}

.cart-products .item .item-content h5 {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}

.cart-products .item .item-content h6 {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}

.cart-products .item span {
    background-color: rgb(3, 148, 252);
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
}

.cart-products h3 {
    margin-bottom: 0;
}

.cart-products .item .item-content h5.cart-price {
    font-weight: 700;
}

/*stye to btn close*/
p.close-btn {
    top: -4px;
    right: 6px;
    cursor: pointer;
    color: #000;
}

p.author {
    display: flex;
    justify-content: center;
    FONT-VARIANT: JIS04;
    margin-top: 3%;
    gap: 7px;
}

p.author a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}


/*-------------------PAGO TARJETA---------------------------*/

#tituloMetodo {
    position: absolute;
    margin-top: 190px;
    margin-left: 40%;

}

.contentForm {
    border: 1px solid #000;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    position: absolute;
    margin-top: 270px;
}