* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}


/*-------------------------ELECCION----------------------*/

.header {
    width: 100%;
    height: 100px;
    background-color: #0693E3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.header ul {
    margin: 10px;
    padding-right: 70px;
    list-style-type: none;
}

.header ul li {
    display: inline-block;
    padding: 30px;
}

.header ul li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.header ul li a:hover {
    color: #b3aeae;
    transition: 0.5s;
}

.header ul li label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    color: #000;

}

.hambu {
    width: 20px;
}

.carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.carrito .movimiento_carrito {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    background-color: #fae1dd;
    width: 30%;
    margin-right: -30%;
    z-index: 1000;
}

.carrito .movimiento_carrito h2 {
    align-self: center;
    text-align: center;
}

.carrito .movimiento_carrito .comprar {
    width: 25%;
    align-self: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fae1dd;
}

.carrito .movimiento_carrito .comprar:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: 1s;
}

#btn_menu {
    display: none;
}

#btn_menu:checked~.movimiento_carrito {
    margin: 0;
    transition: all 1.5s;
}





.h1principal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 110px;
    padding-left: 5%;
}

.h1principal h1 {
    font-size: 40px;

}

.seltorta {
    margin-left: 5%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seltorta h2 {
    font-size: 20px;
}

.ftortas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ftortas li {
    list-style-type: none;
    margin: 20px;
    padding: 10px;
    display: none;
}

.ftortas .btn2 {
    margin-left: 10%;
    margin: 30px;
    padding: 10px;
}

.ftortas .btn1 {
    margin: 30px;
    margin-left: 10%;
    padding: 10px;
}

.inputs a {
    cursor: pointer;
    align-self: start;
}

.h2bebidas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;

}

.bebidas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.bebidas ul li {
    list-style-type: none;
}

.h2decision {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.decision ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.decision ul li {
    list-style-type: none;
    padding: 20px;
}

.ir {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ir li {
    list-style-type: none;
}

.btn33 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn3 {
    margin: 20px;
    padding: 10px;
}

#mostrar {
    margin: 20px;

}

#mostrar2 {
    margin: 20px;
}

/*-------------------------PAGO----------------------*/

.metopago {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.metopago ul {
    display: flex;

}

.metopago ul li {
    list-style-type: none;
    padding: 30px;
    cursor: pointer;
}

.divForm {
    width: 100%;
}

.generar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.generar .generar1 {
    padding: 10px;
    background-color: black;
    color: beige;
    border: 1px solid rgb(221, 4, 22);
    cursor: pointer;
    margin: 10px;
}

.generar1:hover {
    opacity: 0.8;
    transition: 1s;
}

#formControlado {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid #000;
    border-radius: 10px;

}

#formControlado .primero {
    padding: 20px;
    width: 100%;
    margin-left: 23%;
}

#formControlado .segundo {
    padding: 20px;
    width: 100%;
    margin-left: 23%;
}

#formControlado .tercero {
    padding: 20px;
    width: 100%;
    margin-left: 23%;
}

#formControlado input {
    width: 30%;
    height: 30px;
    margin: 0 60px;
}

.baceptar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

/*-------------------------------ingreso--------------------------------*/
.contenedor {
    width: 100%;
}

.inicio {
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_inicio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;

}

.usuario {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    box-shadow: 5px 2px 2px black;
}

.usuario #user {
    padding: 10px;
    margin: 20px;

}

.usuario #userjefe {
    padding: 10px;
    margin: 20px;

}

.usuario #enviar {
    margin: 10px;
    padding: 10px;
}

.usuario #enviarjefe {
    margin: 10px;
    padding: 10px;
}

.strong {
    color: transparent;
    font-weight: bolder;
}

.bienvenida_jefe {
    position: absolute;
    top: 45%;
}



/*-----------------------DUEÑO------------------------*/

.welcomeowner {
    margin: 10px;
    margin-bottom: 20px;
    padding-left: 20px;

}

.h2cajas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.cajasdia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.lblcajas {
    padding: 20px;
}

#Consulta1 {
    margin: 20px;
    padding: 10px;
}


.h2consultacajas {
    width: 580px;
    margin: auto;
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
}

.cajamenores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#Nmenor {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

#Consulta2 {
    padding: 10px;
    margin: 10px;
}

.bodydueño {
    background-color: rgb(206, 206, 206);
}